
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	width: 100%;
	height: 100vh;
	position: relative;

	#app {
		width: 100%;
		height: 100%;
		position: relative;
		display: table;
		transition: all 300ms ease-in;

		h1 {
			display: none;
		}

		button {
			border: none;
			background-color: transparent;
			cursor: pointer;
			font-weight: 900; 
			text-transform: uppercase; 
		}

		.book-keeper {
			position: relative;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			.interaction {
				position: relative;
				display: inline-block;
				.prompt {
					font-size: 49px;
					font-weight: 900;
				}
				.fake-input {
					display: block;
					min-width: 105px;
					max-width: 1050px;
					min-height: 63px;
					font-size: 35px;
				}

			}
			.results, .fallbacks {
				min-height: 200px;
				border: 1px solid #ffffff;
			}

		}

		.eye-suit {
			padding: 0 0 42px 0;
		}

		.table {
			display: table;
			margin: 0;
		}

		.h80 {
			height: 80vh;
		}

		.h20 {
			height: 20vh;
		}

		.center {
			display: table-cell;
			text-align: center;
		}

		.bottom {
			display: table-cell;
			vertical-align: bottom;
		}

	}
}
