
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	width: 100%;
	height: 100vh;
	position: relative;

	#app {
		width: 100%;
		height: 100%;
		position: relative;
		display: table;
		transition: all 300ms ease-in;
		//font-size: 28px;

		h1 {
			display: none;
		}

		button {
			border: none;
			background-color: transparent;
			cursor: pointer;
			font-weight: 900;
			text-transform: uppercase;
		}

		button[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
		}

		.gui-enter-active, .gui-leave-active {
			left: 0;
		  	transition: left .5s;
		}
		.gui-enter, .gui-leave-to {
		  	left: -2000px;
		}

		.slide-enter-active, .slide-leave-active {
			left: 0;
		  	transition: left .5s .5s;
		}
		.slide-enter, .slide-leave-to /* .fade-leave-active in <2.1.8 */ {
			left: -110%;
		  	transition: left .5s;
		}

		.silent-book-keeper {
			position: absolute;
			top: 0;
			height: 100vh;
			transition: all 300ms ease-in;
			.actions-list {
				position: relative;
				height: 100%;
				width: 100vw;
				list-style: none;
				padding: 0;
				margin: 0;
				.action {
					position: relative;
					display: inline-block;
					height: 100vh;
					text-align: center;
					font-size: 49px;
					transition: all 300ms ease-in;
					opacity: 0.9;
					cursor: pointer;
					.zone {
						position: relative;
						height: 100%;
						width: 100%;
						display: table;
						padding: 7px;
						.zone-content {
							display: table-cell;
							text-align: center;
							vertical-align: middle;
							min-height: 280px;
							.action-description {
								min-height: 60px;
								font-size: 14px;
							}
						}
					}
				}
			}
		}

		@media (max-width: 794px) {
			.action-description {
				display: none;
			}
		}

		.content {
			padding: 21px;
			.content-wrapper {
				position: relative;
				.book-keeper {
					position: relative;
					text-align: center;
					.interaction {
						position: relative;
						display: inline-block;
						.prompt {
							font-size: 35px;
							font-weight: 900;
						}
						.fake-input {
							display: block;
							min-width: 105px;
							max-width: 100vw;
							min-height: 63px;
							font-size: 35px;
						}
					}
					.results, .fallbacks {
						min-height: 200px;
						border: inherit;
					}
				}
			}
		}


		.eye-suit {
			padding: 42px 0 0 0;
		}

		.table {
			display: table;
			margin: 0;
		}

		.h80 {
			height: 80vh;
		}

		.h20 {
			height: 20vh;
		}

		.center {
			display: table-cell;
			text-align: center;
		}

		.bottom {
			display: table-cell;
			vertical-align: bottom;
		}

		.input-text {
			margin-top: 28px;
			label {
				display: block;
			}

			input {
				background-color: transparent;
				border: 0;
				width: calc(100vw - 90px);
			}
			span {
				display: block;
				min-width: 105px;
				max-width: calc(100vw - 90px);
				min-height: 63px;
				font-size: 35px;
			}
			textarea {
				width: calc(100vw - 90px);
				border: 0;
				background-color: transparent;
			}
		}

	}

	.modal-mask {
	  position: fixed;
	  z-index: 9998;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, .5);
	  display: table;
	  transition: opacity .3s ease;
	}

	.modal-wrapper {
	  display: table-cell;
	  vertical-align: middle;
	}

	.modal-container {
	  margin: 0px auto;
	  padding: 20px 30px;
	  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	  transition: all .3s ease;
	  font-family: Helvetica, Arial, sans-serif;
	  width: 300px;
	}

	.modal-header h3 {
	  margin-top: 0;
	}

	.modal-body {
	  margin: 20px 0;
	}

	.modal-default-button {
	  float: right;
	}

	/*
	 * The following styles are auto-applied to elements with
	 * transition="modal" when their visibility is toggled
	 * by Vue.js.
	 *
	 * You can easily play with the modal transition by editing
	 * these styles.
	 */

	.modal-enter {
	  opacity: 0;
	}

	.modal-leave-active {
	  opacity: 0;
	}

	.modal-enter .modal-container,
	.modal-leave-active .modal-container {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
}
